@charset "UTF-8";
@import "../assets/fonts/onest/onest.css";
@import "../assets/fonts/inter/stylesheet.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  padding: 0;
  background: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
}

.header {
  width: 100%;
  height: 76px;
}
.header__nav {
  margin: 0 auto;
}
.header__tel-link {
  margin-right: 24px;
}
.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo-link__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* or 100% */
  /* text/main */
  color: #1e1f1f;
  /* Inside auto layout */
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: -0.007em;
  /* text/main */
  color: #1e1f1f;
}

.tel-link {
  color: #056b53;
}

.btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: -0.007em;
  /* text/tertiary */
  color: #ffffff;
  padding: 8px 16px;
  background-color: #056b53;
  border-radius: 100px;
}

.promo {
  background-image: url(../assets/img/фруктыFRIUTS_BG.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 0 bottom 0;
  border-bottom: 1px solid #edf0ef;
}
.promo__wrapper {
  flex-direction: column;
  align-items: center;
}
.promo__heading {
  max-width: 1044px;
  margin-top: 80px;
  margin-bottom: 24px;
}
.promo__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-align: center;
  letter-spacing: -0.007em;
  /* text/main */
  color: #1e1f1f;
  max-width: 558px;
}
.promo__btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: -0.007em;
  /* text/tertiary */
  color: #ffffff;
  padding: 16px 42.5px;
  margin-bottom: 79px;
}

.heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 88px;
  line-height: 76px;
  /* or 86% */
  text-align: center;
  letter-spacing: -0.02em;
  color: #1e1f1f;
}

.card-list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 56px;
}
.promo-card {
  display: flex;
  align-items: center;
  max-width: 384px;
  padding: 20px;
  gap: 16px;
  background: #ffffff;
  /* for cards */
  box-shadow: 0px 0px 20px rgba(66, 74, 72, 0.05);
  border-radius: 18px;
}
.promo-card__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: -0.007em;
  /* text/main */
  color: #1e1f1f;
}

.banners {
  margin-top: 80px;
}
.banners__wrapper {
  flex-direction: column;
  align-items: center;
}
.banners__heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 74px;
  line-height: 62px;
  /* identical to box height, or 84% */
  text-align: center;
  letter-spacing: -0.02em;
  /* text/main */
  color: #1e1f1f;
}
.banners__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.sub-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 74px;
  line-height: 62px;
  /* identical to box height, or 84% */
  text-align: center;
  letter-spacing: -0.02em;
  /* text/main */
  color: #1e1f1f;
  margin-bottom: 48px;
}

.banner-card {
  width: 100%;
  padding: 80px;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  background-image: url(../assets/img/bg1st\ banners.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 0 top 0;
}
.banner-card__heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
  /* or 115% */
  letter-spacing: -0.01em;
  /* text/main */
  color: #1e1f1f;
  max-width: 630px;
}
.banner-card__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: -0.007em;
  /* text/main */
  color: #1e1f1f;
  max-width: 520px;
}

.banner-card--bg1 {
  background-image: url(../assets/img/bg1st\ banners.png);
}

.banner-card--bg2 {
  background-image: url(../assets/img/bg2nd\ banners.png);
}

.banner-card--bg3 {
  background-image: url(../assets/img/bg3rd\ banners.png);
}

.health {
  margin-top: 80px;
  background-image: url(../assets/img/GroupHEALTH-BG.png), url(../assets/img/GroupHEALTH-BG2.png);
  background-position: left 0 bottom 74px, bottom 8.7px right 0;
  background-repeat: no-repeat;
}
.health__wrapper {
  flex-direction: column;
  align-items: center;
}
.health__heading {
  max-width: 792px;
}
.health__list {
  display: grid;
  grid-template-columns: repeat(2, 588px);
  grid-template-rows: repeat(2, 158px);
  width: 100%;
  gap: 24px;
  margin-bottom: 79px;
}
.health-card {
  background: #ffffff;
  /* for cards */
  box-shadow: 0px 0px 20px rgba(66, 74, 72, 0.05);
  border-radius: 18px;
  padding: 32px 32px 32px 104px;
  background-image: url(../assets/icons/done-icon.svg);
  background-repeat: no-repeat;
  background-position: left 32px top 32px;
}
.health-card__heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: left;
  margin-bottom: 6px;
  /* text/main */
  color: #1e1f1f;
}
.health-card__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: -0.007em;
  /* text/main */
  color: #1e1f1f;
}

.work {
  background-image: url(../assets/img/2Book.png), url(../assets/img/big\ platePlate.png), url(../assets/img/bgBG.png);
  background-position: right 0 top 278px, left 0 top 162px, center;
  background-repeat: no-repeat;
  background-size: auto, auto, 100% 100%;
}
.work__wrapper {
  flex-direction: column;
  align-items: center;
}
.work__sub-heading {
  margin-top: 57px;
  margin-bottom: 97px;
}
.work__step-list {
  margin-bottom: 80px;
}

.step-list {
  width: 100%;
  max-width: 792px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 134px;
}
.step-list__step {
  width: 100%;
  max-width: 350px;
  padding: 4px 20px 4px 4px;
  background: #edf0ef;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}
.step-list__step::after {
  content: "";
  width: 298px;
  height: 94px;
  position: absolute;
  left: 227px;
  bottom: calc(-100% - 35px);
  background-image: url(../assets/icons/LIne1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.step-list__step:nth-child(even)::after {
  content: "";
  background-image: url(../assets/icons/Line2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: unset;
  right: 267px;
}
.step-list__step:last-child::after {
  display: none;
}
.step-list__step-number {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
  /* identical to box height, or 115% */
  text-align: center;
  letter-spacing: -0.01em;
  /* text/main */
  color: #1e1f1f;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
}
.step-list__step-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  letter-spacing: -0.007em;
  max-width: 240px;
  /* text/main */
  color: #1e1f1f;
}
.step-list__step:nth-child(even) {
  align-self: flex-end;
}

.offer {
  margin-top: 96px;
}
.offer__banner {
  width: 1200px;
  height: 350px;
  max-width: 1200px;
  background-color: rgb(5, 107, 83);
  border-radius: 18px;
  background-image: url(../assets/icons/BANNER-BG_TEST.svg), url(../assets/icons/banner-bg-plan.svg), url(../assets/icons/banner-bg-doctor.svg);
  background-position: right 138.25px bottom 0, right 265.01px bottom 0, right 32.36px bottom 0;
  background-repeat: no-repeat;
}

.banner_subheading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
  /* or 115% */
  letter-spacing: -0.01em;
  /* text/tertiary */
  color: #ffffff;
  max-width: 523px;
}
.banner__content {
  margin-top: 40px;
  margin-left: 32px;
}
.banner__prices {
  margin-top: 24px;
  margin-bottom: 62px;
}
.banner__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: -0.007em;
  /* text/tertiary */
  color: #ffffff;
  padding: 16px 45.6px;
  background: #1e1f1f;
  border-radius: 100px;
}

.plan {
  margin-top: 24px;
}
.plan__block {
  padding: 32px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(66, 74, 72, 0.05);
  border-radius: 18px;
}
.plan__subheading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.plan__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: -0.007em;
  /* text/main */
  color: #1e1f1f;
  margin-top: 8px;
}
.plan__li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: -0.007em;
  /* text/main */
  color: #1e1f1f;
}/*# sourceMappingURL=styles.css.map */