@import "./fonts";
@import "./reset";

$paddingSize: 20px;
$wrapperWidth: 1200px + $paddingSize + $paddingSize;
$headerHeight: 76px;

$bgColor: #fafafa;
$textColor: #1e1f1f;
$brandColor: #056b53;
$white: #ffff;
$grey: #edf0ef;
$mainFont: "Inter", sans-serif;

@mixin cardHeading {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  color: #1e1f1f;
}

@mixin rowBlock {
  width: 100%;
  min-height: 300px;

  background: #ffffff;

  box-shadow: 0px 0px 20px rgba(66, 74, 72, 0.05);
  border-radius: 18px;
  padding: 32px;
}

@mixin rowText {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: -0.007em;

  color: #1e1f1f;
}

@mixin questionBlock {
  width: 1200px;
  max-width: 1200px;
  height: 80px;

  display: flex;

  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(66, 74, 72, 0.05);
  border-radius: 18px;
}

@mixin questionBlockclick {
  width: 100%;
  max-width: 1200px;
  height: 124px;

  background: #ffffff;
  border-radius: 18px;
}

body {
  font-family: $mainFont;
  background-color: $bgColor;

  background-image: url(../assets/img/SHEET.png);
  background-repeat: no-repeat;
  background-position: bottom 490px left 0;

  min-width: 320px;
}

.window {
  width: 100%;
  height: 100%;

  background-color: rgba(25, 25, 25, 0.223);

  position: fixed;
  top: 0;
  left: 0;

  z-index: 2;

  transition: 0.5s;

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }

  &__menu {
    width: 65%;
    height: 100%;

    background-color: #fff;
    margin-left: auto;

    padding: 20px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__close-btn {
    position: absolute;
    top: 25px;
    right: 32px;

    width: 32px;
    height: 32px;

    background-image: url(../assets/icons/Кнопка\ закрытия.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.banner-media900 {
  display: none;
}

.header {
  width: 100%;
  height: $headerHeight;

  &__wrapper {
  }

  &__logo-link {
  }

  &__nav {
    margin: 0 auto;
  }

  &__tel-link {
    margin-right: 24px;
  }

  &__btn {
  }

  &__burger {
    width: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    cursor: pointer;

    display: none;
  }

  &__burger-line {
    width: 100%;
    height: 2px;

    display: block;

    background-color: rgba(101, 102, 102, 1);

    &::after {
      content: "";

      width: 100%;
      height: 2px;
      background-color: rgba(101, 102, 102, 1);

      position: absolute;
      top: 5px;
      left: 0;
    }

    &::before {
      content: "";

      width: 100%;
      height: 2px;

      background-color: rgba(101, 102, 102, 1);

      position: absolute;
      bottom: 5px;
      left: 0;
    }
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  max-width: $wrapperWidth;
  margin: 0 auto;
  padding: 0 $paddingSize;

  display: flex;
  align-items: center;
}
.logo-link {
  display: flex;
  align-items: center;
  gap: 12px;
  &__logo {
  }

  &__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* or 100% */

    /* text/main */

    color: #1e1f1f;

    /* Inside auto layout */
  }
}
.nav {
  display: flex;
  align-items: center;
  gap: 24px;

  &__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: -0.007em;

    /* text/main */

    color: $textColor;
  }

  &__link:hover {
    border-bottom: 3px solid green;
  }
}
.tel-link {
  color: $brandColor;
}

.btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: -0.007em;

  /* text/tertiary */

  color: #ffffff;
  padding: 8px 16px;

  background-color: $brandColor;
  border-radius: 100px;
}

.main {
}
.promo {
  background-image: url(../assets/img/фруктыFRIUTS_BG.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 0 bottom 0;

  border-bottom: 1px solid $grey;
  &__wrapper {
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    max-width: 1044px;
    margin-top: 80px;
    margin-bottom: 24px;
  }

  &__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;
    letter-spacing: -0.007em;

    /* text/main */

    color: #1e1f1f;
    max-width: 558px;
  }

  &__card-list {
  }

  &__btn {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: -0.007em;

    /* text/tertiary */

    color: #ffffff;
    padding: 16px 42.5px;
    margin-bottom: 79px;
  }
}
.wrapper {
}
.heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 88px;
  line-height: 76px;
  /* or 86% */

  text-align: center;
  letter-spacing: -0.02em;

  color: #1e1f1f;
}
.card-list {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;

  margin-top: 40px;
  margin-bottom: 56px;

  &__card {
  }
}
.promo-card {
  display: flex;
  align-items: center;

  max-width: 384px;
  padding: 20px;

  gap: 16px;
  background: #ffffff;
  /* for cards */

  box-shadow: 0px 0px 20px rgba(66, 74, 72, 0.05);
  border-radius: 18px;
  &__photo {
  }

  &__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: -0.007em;

    /* text/main */

    color: #1e1f1f;
  }
}
.btn {
}

.banners {
  margin-top: 80px;
  &__wrapper {
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 74px;
    line-height: 62px;
    /* identical to box height, or 84% */

    text-align: center;
    letter-spacing: -0.02em;

    /* text/main */

    color: #1e1f1f;
  }

  &__list {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  &__banner-card {
  }
}
.wrapper {
}
.sub-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 74px;
  line-height: 62px;
  /* identical to box height, or 84% */

  text-align: center;
  letter-spacing: -0.02em;

  /* text/main */

  color: #1e1f1f;

  margin-bottom: 48px;
}
.banner-card {
  width: 100%;
  padding: 80px;
  min-height: 520px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;

  background-image: url(../assets/img/bg1st\ banners.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 0 top 0;

  &__heading {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    /* or 115% */

    letter-spacing: -0.01em;

    /* text/main */

    color: #1e1f1f;

    max-width: 630px;
  }

  &__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: -0.007em;

    /* text/main */

    color: #1e1f1f;

    max-width: 520px;
  }
}
.banner-card--bg1 {
  background-image: url(../assets/img/bg1st\ banners.png);
}
.banner-card--bg2 {
  background-image: url(../assets/img/bg2nd\ banners.png);
}
.banner-card--bg3 {
  background-image: url(../assets/img/bg3rd\ banners.png);
}

.health {
  margin-top: 80px;
  margin-bottom: 79px;
  width: 100%;

  &__wrapper {
    flex-direction: column;
    align-items: center;
  }

  &__block {
    width: 100%;
    max-width: fit-content;

    padding: 32px 32px 32px 104px;
    border-radius: 18px;

    background-color: rgba(255, 255, 255, 1);
    background-image: url(../assets/icons/done-icon.svg);
    background-repeat: no-repeat;
    background-position: left 32px top 32px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__block-heading {
    font-size: 24px;
    font-family: Onest;
    font-weight: 500;
    line-height: 32px;

    color: #1e1f1f;
  }

  &__block-text {
    font-size: 18px;
    font-family: Inter;
    line-height: 28px;
    letter-spacing: -0.126px;

    color: #1e1f1f;

    max-width: 452px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
  }
}

.work {
  background-image: url(../assets/img/2Book.png),
    url(../assets/img/big\ platePlate.png), url(../assets/img/bgBG.png);
  background-position: right 0 top 278px, left 0 top 162px, center;
  background-repeat: no-repeat;
  background-size: auto, auto, 100% 100%;

  &__wrapper {
    flex-direction: column;
    align-items: center;
  }

  &__sub-heading {
    margin-top: 57px;
    margin-bottom: 97px;
  }

  &__step-list {
    margin-bottom: 80px;
  }
}
.wrapper {
}
.sub-heading {
}
.step-list {
  width: 100%;
  max-width: 792px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 134px;

  &__step {
    width: 100%;
    max-width: 350px;
    padding: 4px 20px 4px 4px;
    background: #edf0ef;
    border-radius: 100px;

    display: flex;
    align-items: center;
    gap: 16px;

    position: relative;
  }

  &__step::after {
    content: "";

    width: 298px;
    height: 94px;

    position: absolute;
    left: 227px;
    bottom: calc(-100% - 35px);

    background-image: url(../assets/icons/LIne1.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__step:nth-child(even)::after {
    content: "";

    background-image: url(../assets/icons/Line2.svg);
    background-repeat: no-repeat;
    background-size: contain;

    left: unset;
    right: 267px;
  }

  &__step:last-child::after {
    display: none;
  }

  &__step-number {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    /* identical to box height, or 115% */

    text-align: center;
    letter-spacing: -0.01em;

    /* text/main */

    color: #1e1f1f;

    width: 70px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: #fff;
  }

  &__step-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    letter-spacing: -0.007em;

    max-width: 240px;
    /* text/main */

    color: #1e1f1f;
  }

  &__step:nth-child(even) {
    align-self: flex-end;
  }
}

.offer {
  margin-top: 96px;
  &__wrapper {
  }

  &__banner {
    width: 100%;
    min-height: 350px;
    max-width: 1200px;

    background-color: rgba(5, 107, 83, 1);
    border-radius: 18px;
    //  добавить последний бг
    background-image: url(../assets/icons/BANNER-BG_TEST.svg),
      url(../assets/icons/banner-bg-plan.svg), url(../assets/icons/analyse.png),
      url(../assets/icons/banner-bg-doctor.svg);
    background-position: right 138.25px bottom 0, right 265.01px bottom 0,
      bottom 81.27px right 169.4px, right 32.36px bottom 0;

    background-repeat: no-repeat;
  }
}
.wrapper {
}
.banner {
  &__subheading {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    /* or 115% */

    letter-spacing: -0.01em;

    /* text/tertiary */

    color: #ffffff;

    max-width: 523px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 32px;
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 56px;

    margin-top: 36px;
    margin-bottom: 44px;

    padding-left: 32px;

    &--action {
      position: relative;

      z-index: 1;
    }

    &--action::after {
      content: "";

      width: 187px;
      height: 70px;

      background-image: url(../assets/icons/SubtractФорма\ цены\ .svg);
      background-repeat: no-repeat;

      z-index: -1;
      position: absolute;
      top: -20px;
      left: -28px;
    }
  }

  &__link {
    display: inline-block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: -0.007em;

    /* text/tertiary */

    color: #ffffff;

    padding: 16px 45.6px;
    background: #1e1f1f;
    border-radius: 100px;
  }
}

.plan {
  background-image: url(../assets/img/strawberry.png);
  background-repeat: no-repeat;
  background-position: right 6px top -8px;
  margin-top: 24px;
  &__wrapper {
    flex-direction: column;
  }

  &__block {
    padding: 32px;

    display: flex;
    flex-direction: column;

    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(66, 74, 72, 0.05);
    border-radius: 18px;
  }

  &__subheading {
    @include cardHeading;
  }

  &__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: -0.007em;

    /* text/main */

    color: #1e1f1f;

    margin-top: 8px;
  }

  &__list {
    max-width: 1136px;
    padding-left: 32px;
  }

  &__li {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: -0.007em;

    /* text/main */

    color: #1e1f1f;
  }

  &__group {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
  }
}

.list {
  &__li {
  }
}

.row {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 24px;

  &__block {
    @include rowBlock;

    &--bg1 {
      background-image: url(../assets/icons/Модель\ анализа\ фон.svg);
      background-repeat: no-repeat;
      background-position: bottom 0 center;
    }

    &--bg2 {
      background-image: url(../assets/icons/chat\ imageBG-ROW-RIGHT.svg);
      background-repeat: no-repeat;
      background-position: bottom 0 center;
    }
  }

  &__subheading {
    @include cardHeading;
  }

  &__text {
    @include rowText;
    max-width: 320px;
    margin-top: 8px;
  }
}
.subheading {
}

.questions {
  &__wrapper {
    flex-direction: column;
  }

  &__subheading {
    margin-top: 80px;
  }

  &__block {
    @include questionBlock;
    justify-content: space-between;
    padding: 24px 32px;

    position: relative;
  }

  &__block--opened {
    @include questionBlockclick;
    display: flex;
    flex-direction: column;
    padding: 24px 32px;

    position: relative;
  }

  &__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    letter-spacing: -0.007em;

    /* text/main */

    color: #1e1f1f;
    margin-top: 16px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.faqAccordion {
  // max-width: 600px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 100%;

  &__item {
    background-color: #fff;
    width: 100%;

    border-radius: 15px;
  }
}

.faqAccordion__header {
  background-color: #2f9a68;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  position: relative;

  width: 100%;
  max-width: 1200px;
  height: 80px;
  padding: 24px 32px;

  background-color: white;
  border-radius: 18px;

  background-image: url(../assets/icons/Плюс.svg);
  background-repeat: no-repeat;
  background-position: top 20px right 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  color: #1e1f1f;
}

// 開いているときのスタイル
.faqAccordion__header.is-active::before {
  transform: translateY(-50%) rotate(90deg);
}

// 横線
.faqAccordion__header::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

// 縦線
.faqAccordion__header::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 15px;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 21px;
  transform: translateY(-50%);
}

.faqAccordion__content {
  background-color: white;
  overflow: hidden;
  // border-top: 1px solid #f5f5f5;

  width: 100%;

  border-radius: 18px;
}

.faqAccordion__contentInner {
  padding: 24px;
  padding-left: 32px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.007em;

  color: #1e1f1f;
}

.wrapper {
}
.sub-heading {
}
.line {
  &__subheading {
    @include cardHeading;
  }

  &__plus {
    position: absolute;
    top: 20.2px;
    right: 28.2px;
  }
}
.plus {
}

.footer {
  margin-bottom: 40px;
  &__wrapper {
    flex-direction: column;
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;

    margin-top: 80px;
  }
  &__block1 {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;

    border-bottom: 1px solid $grey;
  }

  &__block2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    padding: 20px;
  }

  &__addinfo {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__logo {
  }

  &__logol {
    display: flex;
    align-items: center;
    gap: 12.86px;
  }

  &__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    max-width: 86px;

    color: #1e1f1f;
  }

  &__tel {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    color: $brandColor;
  }

  &__fresh2022 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: -0.007em;

    color: #7e807f;
  }

  &__mail {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: -0.007em;

    color: #1e1f1f;
  }

  &__rights {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: -0.007em;

    color: #1e1f1f;
  }

  &__conf {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: -0.007em;

    color: #078f6f;
  }
}
.wrapper {
}

@import "./media";
